$text: #FFD5C2;
body {
  background-color: #335C64; 
  margin:10px;
  h4 {
    color: $text;
    }
  .desc {
    color: $text;
    margin-bottom: 4px;
    }
  .btn-sm {
    margin-bottom: 15px;
  }
}
